*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body{
  background: linear-gradient(#39bdc8,#59d4e8,#caa5f1,#fac0e1);

  }
  div .contenedor{
     text-align: center;

  }
  .contenedor-menor{
    height: 100vh;
    width: 100vh;
  }