*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: linear-gradient(#39bdc8,#59d4e8,#caa5f1,#fac0e1);
  /* Tipo de Letra */
  height: 100%;
  font-family: 'Patua One', cursive;
  
}
.topnav {
    background-color: #333;
    overflow: hidden;
    padding-left: 5em;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
    
  }
  .topnav a.active:hover {
    background-color: #3a2fda;
    color: white;
    position: relative;
    /* transform: translate(-50%,-50%) rotate( -45deg); */
    transition: all 1s ease;
    
   
  }

  footer {
    width: 100%;
    background: #202020;
    color: white;
    bottom: 0;
    position: absolute;
  }
  .container-footer{
   display: flex;
   margin: auto;
   
  }
  .colum1{
    max-width: 33% ;
    padding-left: 2em;
  }
  .colum1 p{
    color: #c7c7c7;
  }
  .colum2{
    max-width: 33% ;
    padding-left: 2em;
  }
  .colum2 p{
    color: #c7c7c7;
  }
  .colum3{
    max-width: 33% ;
    padding-left: 2em;
  }
  .colum3 p{
    color: #c7c7c7;
  }


  /* @media screen and (max-width: 800px){

    .container-footer{
      display: block; 
      
    }
  } */

  .test{
    margin: 3%;
    width: 100vh;
    height: 70vh;
    
  }
  div.hehe{
    height: 90vh;
    
  }
  .c-hehe{
    margin-top: 10ex;
    text-align: center;
  }

  div.divPoke{
    height: 90vh;
    margin-top: 20px;
    margin-left: 30px;
  }
  div.xd{
    height:100fr;
    margin-top: 20px;
    margin-left: 30px;
  }
  div.alldiv{
    min-height: 100vh;
  }
  

  .videodiv
  {
    height: 90vh;
  }
@keyframes button{
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}
}

  .button_hehe{
    width: 100px;
    height: 50px;
    border-radius: 15%;
    background-color: #fabfb7;
    color: black;
    font-size: 100%;
    font-weight: 750;
    border-color: rgb(241, 167, 140);
  }
  .button_hehe:hover{
    background-color: #fdf9c4;
    font-size: 100%;
    font-weight: 750;
    animation-name: button;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border-color: rgb(255, 229, 80);
  }
  
  table, th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 15px;
    text-align: left;

    border-collapse: collapse;
    margin: 25px 0;
    
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    
  }

  th {
    background-color: #04AA6D;
    /* color: rgb(0, 0, 0); */
  }

  /* tr:hover {background-color: yellow;} */

  #submit{
    border: none;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }


  /* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 255);
  color: #202020;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}