*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: linear-gradient(#39bdc8,#59d4e8,#caa5f1,#fac0e1);
  /* Tipo de Letra */
  font-family: 'Patua One', cursive;
}
.topnav {
    background-color: #333;
    overflow: hidden;
    padding-left: 5em;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
    
  }
  .topnav a.active:hover {
    background-color: #3a2fda;
    color: white;
    position: relative;
    /* transform: translate(-50%,-50%) rotate( -45deg); */
    transition: all 1s ease;
    
   
  }

  footer {
    width: 100%;
    background: #202020;
    color: white;
    bottom: 0;
    position: absolute;
  }
  .container-footer{
   display: flex;
   margin: auto;
   
  }
  .colum1{
    max-width: 33% ;
    padding-left: 2em;
  }
  .colum1 p{
    color: #c7c7c7;
  }
  .colum2{
    max-width: 33% ;
    padding-left: 2em;
  }
  .colum2 p{
    color: #c7c7c7;
  }
  .colum3{
    max-width: 33% ;
    padding-left: 2em;
  }
  .colum3 p{
    color: #c7c7c7;
  }


  @media screen and (max-width: 800px){

    .container-footer{
      display: block; 
      
    }
  }

  .test{
    margin: 3%;
    width: 100vh;
    height: 70vh;
    
  }